{
    "useTabs": true,
    "singleQuote": false,
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "printWidth": 100,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "svelteSortOrder": "scripts-options-markup-styles",
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
