@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	/* Colors */
	--background: hsl(33 100% 96%);
	--background-alt: hsl(0 0% 100%);
	--foreground: hsl(12 7% 15%);
	--foreground-alt: hsl(0 0% 32%);
	--card: hsl(33, 80%, 93%);
	--card-alt: hsl(33, 50%, 88%);
	--muted: hsl(240 5% 96%);
	--muted-foreground: hsla(0 0% 9% / 0.4);
	--border: hsl(240 6% 10%);
	--border-input: hsla(240 6% 10% / 0.17);
	--border-input-hover: hsla(240 6% 10% / 0.4);
	--border-card: hsla(240 6% 10% / 0.1);
	--dark: hsl(240 6% 10%);
	--dark-10: hsla(240 6% 10% / 0.1);
	--dark-40: hsla(240 6% 10% / 0.4);
	--dark-04: hsla(240 6% 10% / 0.04);
	--accent: hsl(204 94% 94%);
	--accent-foreground: hsl(204 80% 16%);
	--destructive: hsl(347 77% 50%);
	--tertiary: hsl(37.7 92.1% 50.2%);
	--line: hsl(0 0% 100%);
    --brand: hsl(31 96% 78%);
    --brand-foreground: hsl(12, 6%, 15%);
    --success: hsl(149 91% 67%);
    --info: hsl(205 69% 62%);

	--text: hsl(12, 6%, 15%);

    --button-primary: var(--brand);
    --button-danger: hsl(347 60% 50%);
    --button-secondary: hsl(86, 13%, 90%);

	--button-default-hover: hsl(30, 7%, 24%);
    --button-primary-hover: hsl(31, 98%, 82%);
    --button-secondary-hover: hsl(111, 12%, 88%);
    --button-danger-hover: hsl(347 60% 45%);
    --button-outline-hover:	hsl(33, 52%, 92%);
    --button-ghost-hover: hsl(33, 45%, 90%);

    --icon-brand: hsl(12 6% 15%);
    --icon-github: hsl(213, 13%, 16%);

	/* black */
	--contrast: hsl(0 0% 0%);

	/* Shadows */
	--shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, 0.04);
	--shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.04) inset;
	--shadow-popover: 0px 7px 12px 3px hsla(var(--dark-10));
	--shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, 0.03);
	--shadow-card: 0px 4px 0px 0px rgba(0, 0, 0, 0.03);
	--shadow-date-field-focus: 0px 0px 0px 3px rgba(24, 24, 27, 0.17);

	--shadow-kbd: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    --shadow-kbd-primary: 0px 2px 0px 0px var(--button-primary);
    --shadow-kbd-secondary: 0px 2px 0px 0px var(--button-secondary);
    --shadow-kbd-danger: 0px 2px 0px 0px var(--button-danger);
}

.dark {
	/* Colors */
	--background: hsl(0 0% 5%);
	--background-alt: hsl(0 0% 8%);
	--foreground: hsl(0 0% 95%);
	--foreground-alt: hsl(0 0% 70%);
	--card: hsl(0 0% 8%);
	--card-alt: hsl(0, 0%, 9%);
	--muted: hsl(240 4% 16%);
	--muted-foreground: hsla(0 0% 100% / 0.4);
	--border: hsl(0 0% 96%);
	--border-input: hsla(0 0% 96% / 0.17);
	--border-input-hover: hsla(0 0% 96% / 0.4);
	--border-card: hsla(0 0% 96% / 0.1);
	--dark: hsl(0 0% 96%);
	--dark-40: hsl(0 0% 96% / 0.4);
	--dark-10: hsl(0 0% 96% / 0.1);
	--dark-04: hsl(0 0% 96% / 0.04);
	--accent: hsl(204 90% 90%);
	--accent-foreground: hsl(204 94% 94%);
	--destructive: hsl(350 89% 60%);
	--line: hsl(0 0% 9.02%);
	--tertiary: hsl(61.3 100% 82.2%);
	/* white */
	--contrast: hsl(0 0% 100%);

	--text: hsl(0 0% 95%);

    --button-primary: var(--brand);
    --button-secondary: hsl(0 0% 10%);

	--button-default-hover: hsl(0 0% 85%);
    --button-primary-hover: hsl(31 60% 70%);
    --button-secondary-hover:	hsl(0 0% 12%);
    --button-outline-hover:	hsl(0 0% 10%);
    --button-ghost-hover: hsl(0 0% 10%);

    --icon-brand: hsl(48, 50%, 92%);
    --icon-github: hsl(0 0 100%);

	/* Shadows */
	--shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, 0.3);
	--shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.5) inset;
	--shadow-popover: 0px 7px 12px 3px hsla(0deg 0% 0% / 30%);
	--shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
	--shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, 0.4);
	--shadow-date-field-focus: 0px 0px 0px 3px rgba(244, 244, 245, 0.1);

	--shadow-kbd: 0px 2px 0px 0px var(--color-brand-foreground);
    --shadow-kbd-primary: 0px 2px 0px 0px var(--button-primary);
    --shadow-kbd-secondary: 0px 2px 0px 0px var(--button-secondary);
    --shadow-kbd-danger: 0px 2px 0px 0px var(--button-danger);
}

@theme inline {
	--color-background: var(--background);
	--color-background-alt: var(--background-alt);
	--color-foreground: var(--foreground);
	--color-foreground-alt: var(--foreground-alt);
	--color-card: var(--card);
	--color-card-alt: var(--card-alt);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-border: var(--border-card);
	--color-border-input: var(--border-input);
	--color-border-input-hover: var(--border-input-hover);
	--color-border-card: var(--border-card);
	--color-dark: var(--dark);
	--color-dark-10: var(--dark-10);
	--color-dark-40: var(--dark-40);
	--color-dark-04: var(--dark-04);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-success: var(--success);
	--color-info: var(--info);
	--color-tertiary: var(--tertiary);
	--color-line: var(--line);
	--color-contrast: var(--contrast);
	--color-foreground: var(--text);
	--color-brand: var(--brand);
	--color-brand-foreground: var(--brand-foreground);

    --color-button-primary: var(--button-primary);
    --color-button-secondary: var(--button-secondary);
    --color-button-danger: var(--button-danger);

	--color-button-default-hover: var(--button-default-hover);
    --color-button-primary-hover: var(--button-primary-hover);
    --color-button-ghost-hover: var(--button-ghost-hover);
    --color-button-secondary-hover: var(--button-secondary-hover);
    --color-button-danger-hover: var(--button-danger-hover);
    --color-button-outline-hover: var(--button-outline-hover);

    --color-icon-brand: var(--icon);
    --color-icon-github: var(--icon-github);

	--shadow-mini: var(--shadow-mini);
	--shadow-mini-inset: var(--shadow-mini-inset);
	--shadow-popover: var(--shadow-popover);
	--shadow-btn: var(--shadow-btn);
	--shadow-card: var(--shadow-card);
	--shadow-date-field-focus: var(--shadow-date-field-focus);
	--shadow-kbd: var(--shadow-kbd);
    --shadow-kbd-primary: var(--shadow-kbd-primary);
    --shadow-kbd-secondary: var(--shadow-kbd-secondary);
    --shadow-kbd-danger: var(--shadow-kbd-danger);

	--text-xxs: 10px;

	--radius-card: 16px;
	--radius-card-lg: 20px;
	--radius-card-sm: 10px;
	--radius-input: 9px;
	--radius-button: 5px;
	--radius-5px: 5px;
	--radius-9px: 9px;
	--radius-10px: 10px;
	--radius-15px: 15px;

	--spacing-input: 3rem;
	--spacing-input-sm: 2.5rem;
	--spacing-input-xs: 2rem;

	--breakpoint-desktop: 1440px;

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1s ease-out infinite;
	--animate-scale-in: scale-in 0.2s ease;
	--animate-scale-out: scale-out 0.15s ease;
	--animate-fade-in: fade-in 0.2s ease;
	--animate-fade-out: fade-out 0.15s ease;
	--animate-enter-from-left: enter-from-left 0.2s ease;
	--animate-enter-from-right: enter-from-right 0.2s ease;
	--animate-exit-to-left: exit-to-left 0.2s ease;
	--animate-exit-to-right: exit-to-right 0.2s ease;

	--font-sans: "Inter", "sans-serif";
	--font-mono: "Source Code Pro", "monospace";
	--font-alt: "Courier", "sans-serif";
	--font-display: "Cal Sans", "sans-serif";

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}

	@keyframes enter-from-right {
		from {
			opacity: 0;
			transform: translateX(200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes enter-from-left {
		from {
			opacity: 0;
			transform: translateX(-200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes exit-to-right {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(200px);
		}
	}

	@keyframes exit-to-left {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(-200px);
		}
	}

	@keyframes scale-in {
		from {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.9);
		}
		to {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
	}

	@keyframes scale-out {
		from {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
		to {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.95);
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-border-card, currentColor);
	}

	* {
		@apply border-border;
	}
	html {
        @apply bg-background;
		-webkit-text-size-adjust: 100%;
		font-variation-settings: normal;
		scrollbar-color: var(--bg-muted);
	}

	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			"rlig" 1,
			"calt" 1;
	}

	::selection {
        @apply bg-brand text-brand-foreground;
	}
}

@layer components {
	*:not(body):not(.focus-override) {
		outline: none !important;
		&:focus-visible {
			@apply focus-visible:ring-foreground focus-visible:ring-offset-background focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-offset-1;
		}
	}

	.link {
		@apply hover:text-foreground/80 focus-visible:ring-foreground focus-visible:ring-offset-background rounded-xs focus-visible:outline-hidden inline-flex items-center gap-1 font-medium underline underline-offset-4 focus-visible:ring-2 focus-visible:ring-offset-2;
	}
}

body {
    font-family: "Space Grotesk Variable", sans-serif;
}

/*
* !! VERY IMPORTANT
* This forces chrome into rendering with GPU (Removes text-shift)
* It makes the text noticably less jumpy on firefox thanks to the font-smoothing & text-rendering properties.
*/
.scale-3d {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
    transform: translate3d(0, 0, 0);
}

pre.shiki {
    @apply p-2.5 text-sm whitespace-break-spaces rounded-none;
}

:not(pre):not(.shiki) > code {
    @apply text-sm whitespace-break-spaces bg-foreground-alt/5 border px-1 py-px rounded-sm;
}

table #description code {
    @apply text-xs! text-brand border-brand/20
}

.brand-link {
    @apply text-brand hover:underline
}

code.required {
    @apply bg-red-500/20! border-red-500! text-red-500!
}

/* shiki themes */
html.dark .shiki,
html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

html.light .shiki,
html.light .shiki span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-light-font-style) !important;
    font-weight: var(--shiki-light-font-weight) !important;
    text-decoration: var(--shiki-light-text-decoration) !important;
}
